{% extends 'admin/base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr class="active">
            <th>{{ 'Nom'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Emplois'|trans }}</th>
            <th>{{ 'Affiliés'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>{{ category.jobs.count }}</td>
                <td>{{ category.affiliates.count }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-default">{{ 'Editer'|trans }}</a>
                        </li>

                        <li>
                            <form method="post" action="{{ path('admin.category.delete', {id: category.id}) }}" onsubmit="return confirm('{{ 'Êtes-vous sûr de bien vouloir supprimer cet élément?' }}');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                <button class="btn btn-danger">{{ 'Supprimer'|trans }}</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.category.create') }}" class="btn btn-success">{{ 'Create new'|trans }}</a>
{% endblock %}
